body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.previewImg {
  max-height: 200px;
}

.booksSection {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.singleBookImg {
  max-height: 500px;
}

/* Add your own custom styles here */